# Fliprobo Assignment 2

# Q1.Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
!pip install pandas
!pip install selenium

Requirement already satisfied: pandas in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (1.3.4)

WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\anshul\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: numpy>=1.17.3 in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.21.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: selenium in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (4.1.0)

WARNING: You are using pip version 21.2.4; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\anshul\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: trio-websocket~=0.9 in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: idna in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from urllib3[secure]~=1.26->selenium) (36.0.1)
Requirement already satisfied: certifi in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from urllib3[secure]~=1.26->selenium) (21.0.0)
Requirement already satisfied: six>=1.5.2 in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\anshul\appdata\local\programs\python\python39\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [2]:
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings("ignore")

In [4]:
#Connect to the driver
driver=webdriver.Chrome(r'E:\chrome driver\chromedriver.exe')

In [5]:
url ='https://www.naukri.com/'
driver.get(url)

In [6]:
#Finding web element for search job Bar using class 
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [7]:
#Write on search bar 
search_job.send_keys("Data Analyst")

In [8]:
#Finding web element for search loc bar using relative X path
search_locn=driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [9]:
#Finding Web element for job location bar
search_locn.send_keys("Bangalore")

In [10]:
#Clicking using absolute xpath function
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [11]:
search_btn.click()

# Extracting Job Title

In [23]:
#Extracting all the element having job titles
titles_job= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
#Now the titles is inside the title tag so we need to extract using iterative 
job_titles=[]

for i in titles_job:
    job_titles.append(i.text)
    job_titles=job_titles[:10]
len(job_titles)

10

# Extracting Job location

In [19]:
#Extarcting all the elements having job location
titles_loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
#Now the location is inside the tag so we need to extract using iterative function
job_Location=[]

for i in titles_loc:
    job_Location.append(i.text)
    job_Location=job_Location[:10]
len(job_Location)

10

# Extracting Company name

In [18]:
#Extarcting all the elements having Comapny Name
titles_company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
#Now the location is inside the tag so we need to extract using iterative function
Company_Name=[]

for i in titles_company:
    Company_Name.append(i.text)
    Company_Name=Company_Name[:10]
len(Company_Name)

10

# Experience Required

In [16]:
#Extarcting all the elements of experience required
titles_Exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
#Now the location is inside the tag so we need to extract using iterative function
Exp_req=[]

for i in titles_Exp:
    Exp_req.append(i.text)
    Exp_req=Exp_req[:10]
len(Exp_req)

10

# Creating Dataframe

In [24]:
df=pd.DataFrame({'Job Titles':job_titles,'job Location':job_Location,'Company Name':Company_Name,'Experience':Exp_req})
df

,Job Titles,job Location,Company Name,Experience
0,Senior Data Analyst,Bengaluru/Bangalore,Flipkart,4-6 Yrs
1,Junior Data Analyst/ Scientist- Fresher Position,"Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru...",Sejal Consulting Hub,0-3 Yrs
2,Assistant Clinical Data Analyst,Bangalore/Bengaluru,Labcorp Drug Development India Private Limited,0-2 Yrs
3,Senior Data Analyst - CRM,Bangalore/Bengaluru,Gojek Tech,2-5 Yrs
4,Lead - Data Analyst / Scientist,Bangalore/Bengaluru,Axim Technologies,12-14 Yrs
5,Data Analyst,Bengaluru/Bangalore,Flipkart,1-2 Yrs
6,Consultant - Data Analyst,Bengaluru/Bangalore,Flipkart,1-3 Yrs
7,Hiring For Data Analyst,Bangalore/Bengaluru,Flipkart,4-8 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Walmart,4-7 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru\n(WFH during Covid),SMEDC SERVICES PRIVATE LIMITED,4-8 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [25]:
#Connect to the driver
driver=webdriver.Chrome(r'E:\chrome driver\chromedriver.exe')

In [26]:
url ='https://www.naukri.com/'
driver.get(url)

In [27]:
#Finding web element for search job Bar using class 
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [28]:
#Write on search bar 
search_job.send_keys("Data Scientist")

In [29]:
#Finding web element for search loc bar using relative X path
search_locn=driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [30]:
#Finding Web element for job location bar
search_locn.send_keys("Bangalore")

In [34]:
#Clicking using absolute xpath function
search_btn=driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[3]/div/div/div[6]')
search_btn

In [35]:
search_btn.click()

# Extracting Job title

In [37]:
#Extracting all the element having job titles
titles_job= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
#Now the titles is inside the title tag so we need to extract using iterative 
job_titles=[]

for i in titles_job:
    job_titles.append(i.text)
    job_titles=job_titles[:10]
len(job_titles)

10

# Extracting Job Location

In [38]:
#Extarcting all the elements having job location
titles_loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
#Now the location is inside the tag so we need to extract using iterative function
job_Location=[]

for i in titles_loc:
    job_Location.append(i.text)
    job_Location=job_Location[:10]
len(job_Location)

10

# Extracting Company Name

In [39]:
#Extarcting all the elements having Comapny Name
titles_company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
#Now the location is inside the tag so we need to extract using iterative function
Company_Name=[]

for i in titles_company:
    Company_Name.append(i.text)
    Company_Name=Company_Name[:10]
len(Company_Name)

10

# Creating DataFrame

In [40]:
df=pd.DataFrame({'Job Titles':job_titles,'job Location':job_Location,'Company Name':Company_Name})
df

,Job Titles,job Location,Company Name
0,Sr Data Scientist,Bangalore/Bengaluru,Siemens
1,Senior/Lead Data Scientist - (Revenue Management),Bangalore/Bengaluru,o9 Solutions Management India Private Limited
2,Senior/Lead - Data Scientist (Supply Chain),Bangalore/Bengaluru,o9 Solutions Management India Private Limited
3,Associate Data Scientist,"Chennai, Bangalore/Bengaluru",Shell
4,Junior Programmer - Data Scientist,Bangalore/Bengaluru,GSK India
5,Lead/Senior Data Scientist (NLP),Bangalore/Bengaluru\n(WFH during Covid),Samya.AI A FRACTAL Entity
6,Sr . Data Scientist,"Mumbai, Bangalore/Bengaluru",RKSV
7,Sr. Data Scientist,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)\...",NutaNXT Technologies
8,"Senior Data Scientist, Data Sciences",Bangalore/Bengaluru,Vmware
9,Lead Data Scientist,Bangalore/Bengaluru\n(WFH during Covid),Gadgeon Smart Systems

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [41]:
#Connect to the driver
driver=webdriver.Chrome(r'E:\chrome driver\chromedriver.exe')

In [42]:
url ='https://www.naukri.com/'
driver.get(url)

In [43]:
#Finding web element for search job Bar using class 
search_job = driver.find_element_by_class_name("suggestor-input")
search_job

In [44]:
#Write on search bar 
search_job.send_keys("Data Scientist")

In [47]:
#Clicking using absolute xpath function
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [48]:
search_btn.click()

In [49]:
#Clicking Filter by selecting check boxes using absolute xpath
Salary_check = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")

In [50]:
Salary_check.click()

In [51]:
Location_check = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[3]/label/i")

In [52]:
Location_check.click()

# Extracting Job Title

In [53]:
#Extracting all the element having job titles
titles_job= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
#Now the titles is inside the title tag so we need to extract using iterative 
job_titles=[]

for i in titles_job:
    job_titles.append(i.text)
    job_titles=job_titles[:10]
len(job_titles)

10

# Extracting job Location

In [54]:
#Extarcting all the elements having job location
titles_loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
#Now the location is inside the tag so we need to extract using iterative function
job_Location=[]

for i in titles_loc:
    job_Location.append(i.text)
    job_Location=job_Location[:10]
len(job_Location)

10

# Extracting Company Name

In [55]:
#Extarcting all the elements having Comapny Name
titles_company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
#Now the location is inside the tag so we need to extract using iterative function
Company_Name=[]

for i in titles_company:
    Company_Name.append(i.text)
    Company_Name=Company_Name[:10]
len(Company_Name)

10

# Extracting Experience

In [56]:
#Extarcting all the elements of experience required
titles_Exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
#Now the location is inside the tag so we need to extract using iterative function
Exp_req=[]

for i in titles_Exp:
    Exp_req.append(i.text)
    Exp_req=Exp_req[:10]
len(Exp_req)

10

# Creating DataFrame

In [57]:
df=pd.DataFrame({'Job Titles':job_titles,'job Location':job_Location,'Company Name':Company_Name})
df

,Job Titles,job Location,Company Name
0,Data Scientist | Python | Machine Learning | D...,"Noida, Gurgaon/Gurugram, Delhi / NCR",Schlesinger Group
1,Senior Data Scientist I,Gurgaon/Gurugram,Delhivery
2,Data Scientist,Gurgaon/Gurugram,T & A Solutions
3,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL
4,Openings For Jr/mid/Sr level data Scientists,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Pluto seven business solutions (p) limited
5,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited
6,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited
7,Urgent Hiring For Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Mount Talent Consulting Private Limited
8,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited
9,Data Scientist role,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",Mount Talent Consulting Private Limited

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image

In [4]:
#Connect to the driver
driver=webdriver.Chrome(r'E:\chrome driver\chromedriver.exe')

In [5]:
url ='https://www.flipkart.com/'
driver.get(url)

In [6]:
#Search using The Xpath
search_eng=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_eng

In [7]:
search_eng.send_keys("sunglasses")

In [10]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [11]:
search_btn.click()

# Extracting Brand Name

In [12]:
#Extracting all the element having job titles
titles_Brand= driver.find_elements_by_xpath('//a[@class="s1Q9rs"]')
#Now the titles is inside the title tag so we need to extract using iterative 
Brand_titles=[]

for i in titles_Brand:
    Brand_titles.append(i.text)
    
print(len(Brand_titles))
print(Brand_titles)

40
['Kanishka Aviator Sunglasses', 'Kanishka Round Sunglasses', 'Elligator Round Sunglasses', 'SRPM Wayfarer Sunglasses', 'PIRASO Aviator Sunglasses', 'kingsunglasses Round Sunglasses', 'Fastrack Wayfarer Sunglasses', 'Singco India Retro Square, Over-sized Sunglasses', 'SHAAH COLLECTIONS Rectangular Sunglasses', 'PHENOMENAL Retro Square Sunglasses', 'New Specs Round Sunglasses', 'VINCENT CHASE by Lenskart Wayfarer Sunglasses', 'PIRASO Aviator Sunglasses', 'SUNBEE Round Sunglasses', 'New Specs Rectangular Sunglasses', 'VINCENT CHASE by Lenskart Aviator Sunglasses', 'kingsunglasses Wayfarer Sunglasses', 'ROZZETTA CRAFT Retro Square Sunglasses', 'SHAAH COLLECTIONS Rectangular Sunglasses', 'ROZZETTA CRAFT Retro Square Sunglasses', 'Fastrack Wayfarer Sunglasses', 'ROZZETTA CRAFT Rectangular Sunglasses', 'PIRASO Wayfarer Sunglasses', 'VINCENT CHASE by Lenskart Wayfarer Sunglasses', 'New Specs Round Sunglasses', 'kingsunglasses Wayfarer Sunglasses', 'DAHAAZIL Wayfarer, Wayfarer, Wayfarer Sunglasses', 'VINCENT CHASE by Lenskart Aviator Sunglasses', 'Rich Club Round Sunglasses', 'SUNBEE Wayfarer Sunglasses', 'Elligator Round Sunglasses', 'ROZZETTA CRAFT Round Sunglasses', 'Dcmr Retro Square Sunglasses', 'IZAAN MART Aviator Sunglasses', 'EMDEE COLLECTION Retro Square Sunglasses', 'VINCENT CHASE by Lenskart Wayfarer Sunglasses', 'PHENOMENAL Retro Square Sunglasses', 'PIRASO Aviator Sunglasses', 'chawla fashion Round Sunglasses', 'ROZZETTA CRAFT Wayfarer Sunglasses']

# Extracting Product Descripition

In [13]:
#Extracting all the element having job titles
titles_Product= driver.find_elements_by_xpath('//div[@class="_3Djpdu"]')
#Now the titles is inside the title tag so we need to extract using iterative 
Product_titles=[]

for i in titles_Product:
    Product_titles.append(i.text)
    Product_titles=Product_titles[:100]
print(len(Product_titles))
print(Product_titles)

40
['For Boys & Girls, Clear', 'For Boys & Girls, Clear', 'For Men & Women, Multicolor', 'For Men & Women, Clear, Black, Brown', 'For Men & Women, Black', 'For Men & Women, Clear', 'For Men, Green', 'For Men & Women, Blue', 'For Men & Women, Black', 'For Men & Women, Yellow, Red', 'For Men & Women, Black, Blue, Red, Yellow, Blue', 'For Men & Women, Grey', 'For Men & Women, Black, Golden', 'For Men & Women, Red, Blue, Pink, Blue, Yellow, Black', 'For Men & Women, Red, Black, Yellow, Blue, Black', 'For Men & Women, Blue', 'For Men & Women, Blue, Clear, Green, Black, Brown, Silver', 'For Men & Women, Blue', 'For Men & Women, Black', 'For Women, Black', 'For Men, Green', 'For Men & Women, Blue', 'For Men & Women, Black', 'For Men & Women, Green', 'For Men & Women, Red, Black, Silver, Blue', 'For Men & Women, Red, Blue, Black, Green, Brown, Green, Clear', 'For Boys & Girls, Black, Clear, Brown', 'For Men & Women, Blue', 'For Boys & Girls, Clear', 'For Men, Red, Brown, Clear, Green, Blue, Black, Violet', 'For Men & Women, Red, Yellow, Blue', 'For Men & Women, Grey', 'For Men, Red, Yellow, Black', 'For Men & Women, Blue, Clear', 'For Boys & Girls, Black', 'For Men & Women, Brown', 'For Men & Women, Black', 'For Men & Women, Green', 'For Men & Women, Clear', 'For Men & Women, Blue']

# Extracting Price

In [14]:
#Extracting all the element having job titles
titles_Price= driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
#Now the titles is inside the title tag so we need to extract using iterative 
Price_titles=[]

for i in titles_Price:
    Price_titles.append(i.text)
    Price_titles=Price_titles[:100]
print(len(Price_titles))
print(Price_titles)

40
['₹145', '₹143', '₹248', '₹198', '₹200', '₹188', '₹720', '₹599', '₹165', '₹309', '₹262', '₹799', '₹200', '₹271', '₹259', '₹999', '₹273', '₹474', '₹181', '₹349', '₹483', '₹383', '₹190', '₹799', '₹233', '₹273', '₹176', '₹999', '₹165', '₹243', '₹189', '₹426', '₹421', '₹395', '₹399', '₹999', '₹299', '₹200', '₹165', '₹475']

In [15]:
#Clicking Next Button
Next_button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
Next_button

In [16]:
Next_button.click()

In [17]:
#Extracting From 40-80
titles_Brand=driver.find_elements_by_xpath('//a[@class="s1Q9rs"]')
for i in titles_Brand:
    Brand_titles.append(i.text)
len(Brand_titles)

80

In [18]:
#Extracting from 40-80 product
titles_Product= driver.find_elements_by_xpath('//div[@class="_3Djpdu"]')
for i in titles_Product:
    Product_titles.append(i.text)
len(Product_titles)

80

In [23]:
#Extracting from 40-80 price
titles_Price= driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in titles_Price:
    Price_titles.append(i.text)
    Price_titles=Price_titles
len(Price_titles)

80

In [24]:
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
next_button

In [25]:
next_button.click()

In [26]:
#extracting from 80-100
titles_Brand=driver.find_elements_by_xpath('//a[@class="s1Q9rs"]')
for i in titles_Brand:
    Brand_titles.append(i.text)
len(Brand_titles)

120

In [27]:
#Extracting from 80-100 product
titles_Product= driver.find_elements_by_xpath('//div[@class="_3Djpdu"]')
for i in titles_Product:
    Product_titles.append(i.text)
len(Product_titles)

120

In [28]:
#Extracting from 80-100 price
titles_Price= driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
for i in titles_Price:
    Price_titles.append(i.text)
    Price_titles=Price_titles
len(Price_titles)

120

In [29]:
Brand_titles=Brand_titles[:100]
Product_titles=Product_titles[:100]
Price_titles=Price_titles[:100]

# Creating Dataframe

In [30]:
df=pd.DataFrame({'Brand':Brand_titles,'Product Details':Product_titles,'Price':Price_titles})
df

,Brand,Product Details,Price
0,Kanishka Aviator Sunglasses,"For Boys & Girls, Clear",₹145
1,Kanishka Round Sunglasses,"For Boys & Girls, Clear",₹143
2,Elligator Round Sunglasses,"For Men & Women, Multicolor",₹248
3,SRPM Wayfarer Sunglasses,"For Men & Women, Clear, Black, Brown",₹198
4,PIRASO Aviator Sunglasses,"For Men & Women, Black",₹200
...,...,...,...
95,DAHAAZIL Aviator Sunglasses,"For Men & Women, Blue",₹128
96,"Lee Topper Retro Square, Spectacle Sunglasses","For Men & Women, Silver, Clear",₹375
97,Fastrack Aviator Sunglasses,"For Men & Women, Grey","₹1,030"
98,chawla fashion Round Sunglasses,"For Men & Women, Black, Clear",₹151
99,"Elligator Rectangular, Retro Square, Wayfarer ...","For Men & Women, Red, Yellow",₹305

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually

In [31]:
#Connect to the driver
driver=webdriver.Chrome(r'E:\chrome driver\chromedriver.exe')

In [33]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [35]:
#Review Button finding by Xpath
rev_btn = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span')
rev_btn

In [36]:
rev_btn.click()

# Rating

In [40]:
Rating=[]
for i in range(0,10,1):
    Rating_iphone = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
    for j in Rating_iphone:
        Rating.append(j.text)
print(len(Rating))
print(Rating)

100
['5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5', '5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

# Review

In [41]:
Reviews = []
for i in range(0,10,1):
    Review_iphone = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    for j in Review_iphone:
        Reviews.append(j.text)
print(len(Reviews))
print(Reviews)

100
['Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny', 'Brilliant', 'Simply awesome', 'Perfect product!', 'Best in the market!', 'Worth every penny', 'Fabulous!', 'Great product', 'Good choice', 'Highly recommended', 'Worth every penny']

# Full Review

In [43]:
full_reviews = []
for i in range(0,10,1):
    full_review_iphone = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    for j in full_review_iphone:
        full_reviews.append(j.text.split('\n'))
print(len(full_reviews))
print(full_reviews)

100

# Creating DataFrame

In [44]:
df=pd.DataFrame({'Rating':Rating,'Review':Reviews,'Full review':full_reviews})
df

,Rating,Review,Full review
0,5,Brilliant,"[The Best Phone for the Money, , The iPhone 11..."
1,5,Simply awesome,[Really satisfied with the Product I received....
2,5,Perfect product!,[Amazing phone with great cameras and better b...
3,5,Best in the market!,[Great iPhone very snappy experience as apple ...
4,5,Worth every penny,[Previously I was using one plus 3t it was a g...
...,...,...,...
95,5,Fabulous!,[This is my first iOS phone. I am very happy w...
96,5,Great product,"[Amazing Powerful and Durable Gadget., , I’m a..."
97,4,Good choice,[So far it’s been an AMAZING experience coming...
98,5,Highly recommended,[What a camera .....just awesome ..you can fee...
99,5,Worth every penny,"[i11 is worthy to buy, too much happy with the..."

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [45]:
#Connect to the driver
driver=webdriver.Chrome(r'E:\chrome driver\chromedriver.exe')

In [46]:
url ='https://www.flipkart.com/'
driver.get(url)

In [47]:
#Search using The Xpath
search_eng=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_eng

In [48]:
search_eng.send_keys("sneakers")

In [49]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [50]:
search_btn.click()

# Extracting Brand

In [51]:
Brand_sneakers = []
for i in 0,1,2:
    brand = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
    for j in brand:
        Brand_sneakers.append(j.text)
        i=+1
Brand_sneakers = Brand_sneakers[:100]
print(len(Brand_sneakers))
print(Brand_sneakers)

100
['ALICON', 'tigonis', 'luxury fashion', 'Magnolia', 'URBANBOX', 'Labbin', 'Stefano Rads', 'RapidBox', 'Extoes', 'D-SNEAKERZ', 'SCATCHITE', 'Brothers Gift', 'ASTEROID', 'Shoes Bank', 'Numenzo', 'AMICO', 'Trendmode', 'HOTSTYLE', 'ganpati traders', 'AMICO', 'BIRDE', 'Kraasa', 'Rzisbo', 'PACIFIER', 'Echor', 'TR', 'Numenzo', 'RapidBox', 'ASTEROID', 'PUMA', 'Robbie jones', 'RAIYKU', 'CLYMB', 'Kraasa', 'BRUTON', 'Robbie jones', 'Lee Won', 'World Wear Footwear', 'Robbie jones', 'sixXplus', 'ALICON', 'tigonis', 'luxury fashion', 'Magnolia', 'URBANBOX', 'Labbin', 'Stefano Rads', 'RapidBox', 'Extoes', 'D-SNEAKERZ', 'SCATCHITE', 'Brothers Gift', 'ASTEROID', 'Shoes Bank', 'Numenzo', 'AMICO', 'Trendmode', 'HOTSTYLE', 'ganpati traders', 'AMICO', 'BIRDE', 'Kraasa', 'Rzisbo', 'PACIFIER', 'Echor', 'TR', 'Numenzo', 'RapidBox', 'ASTEROID', 'PUMA', 'Robbie jones', 'RAIYKU', 'CLYMB', 'Kraasa', 'BRUTON', 'Robbie jones', 'Lee Won', 'World Wear Footwear', 'Robbie jones', 'sixXplus', 'ALICON', 'tigonis', 'luxury fashion', 'Magnolia', 'URBANBOX', 'Labbin', 'Stefano Rads', 'RapidBox', 'Extoes', 'D-SNEAKERZ', 'SCATCHITE', 'Brothers Gift', 'ASTEROID', 'Shoes Bank', 'Numenzo', 'AMICO', 'Trendmode', 'HOTSTYLE', 'ganpati traders', 'AMICO']

# Product Descripition

In [63]:
Product_Descr=[]
for i in 0,1,2,3,4,5,6,7,8,9,10,11:
    Product_desc=driver.find_elements_by_xpath('//a[@class="IRpwTa _2-ICcC"]')
    for j in Product_desc:
        Product_Descr.append(j.text)
        i=+1
Product_Descr=Product_Descr[:100]
print(len(Product_Descr))
print(Product_Descr)

100
['Sneakers For Men', 'Sneakers Sneakers For Men', 'Classy Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'Brothers Luxury Fashionable Casual Sneakers Shoes For M...', 'Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'FASHION Sneakers For Men', 'Casual Sneakers black Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Sneakers Sneakers For Men', 'Classy Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'Brothers Luxury Fashionable Casual Sneakers Shoes For M...', 'Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'FASHION Sneakers For Men', 'Casual Sneakers black Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Sneakers Sneakers For Men', 'Classy Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'Brothers Luxury Fashionable Casual Sneakers Shoes For M...', 'Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'FASHION Sneakers For Men', 'Casual Sneakers black Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Sneakers Sneakers For Men', 'Classy Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'Brothers Luxury Fashionable Casual Sneakers Shoes For M...', 'Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'FASHION Sneakers For Men', 'Casual Sneakers black Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Sneakers Sneakers For Men', 'Classy Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'Brothers Luxury Fashionable Casual Sneakers Shoes For M...', 'Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'FASHION Sneakers For Men', 'Casual Sneakers black Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Sneakers Sneakers For Men', 'Classy Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'Brothers Luxury Fashionable Casual Sneakers Shoes For M...', 'Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'FASHION Sneakers For Men', 'Casual Sneakers black Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Sneakers Sneakers For Men', 'Classy Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'Brothers Luxury Fashionable Casual Sneakers Shoes For M...', 'Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'FASHION Sneakers For Men', 'Casual Sneakers black Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Sneakers Sneakers For Men', 'Classy Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'Brothers Luxury Fashionable Casual Sneakers Shoes For M...', 'Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'FASHION Sneakers For Men', 'Casual Sneakers black Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Sneakers Sneakers For Men', 'Classy Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'Brothers Luxury Fashionable Casual Sneakers Shoes For M...', 'Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'FASHION Sneakers For Men', 'Casual Sneakers black Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Sneakers Sneakers For Men', 'Classy Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'Brothers Luxury Fashionable Casual Sneakers Shoes For M...', 'Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'FASHION Sneakers For Men', 'Casual Sneakers black Shoes For Men Sneakers For Men', 'Sneakers For Men', 'Sneakers Sneakers For Men', 'Classy Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'Brothers Luxury Fashionable Casual Sneakers Shoes For M...', 'Sneakers For Men', 'Stylish & Trendy Sneakers For Men', 'FASHION Sneakers For Men', 'Casual Sneakers black Shoes For Men Sneakers For Men', 'Sneakers For Men']

# Price

In [65]:
Price_Descr=[]
for i in 0,1,2:
    Price_desc=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
    for j in Price_desc:
        Price_Descr.append(j.text)
        i=+1
Price_Descr=Price_Descr[:100]
print(len(Price_Descr))
print(Price_Descr)

100
['₹472', '₹449', '₹449', '₹398', '₹220', '₹499', '₹242', '₹630', '₹948', '₹348', '₹398', '₹449', '₹499', '₹345', '₹499', '₹449', '₹359', '₹298', '₹189', '₹449', '₹299', '₹499', '₹574', '₹499', '₹499', '₹599', '₹429', '₹620', '₹499', '₹2,998', '₹499', '₹649', '₹649', '₹499', '₹379', '₹499', '₹299', '₹199', '₹451', '₹474', '₹472', '₹449', '₹449', '₹398', '₹220', '₹499', '₹242', '₹630', '₹948', '₹348', '₹398', '₹449', '₹499', '₹345', '₹499', '₹449', '₹359', '₹298', '₹189', '₹449', '₹299', '₹499', '₹574', '₹499', '₹499', '₹599', '₹429', '₹620', '₹499', '₹2,998', '₹499', '₹649', '₹649', '₹499', '₹379', '₹499', '₹299', '₹199', '₹451', '₹474', '₹472', '₹449', '₹449', '₹398', '₹220', '₹499', '₹242', '₹630', '₹948', '₹348', '₹398', '₹449', '₹499', '₹345', '₹499', '₹449', '₹359', '₹298', '₹189', '₹449']

# Creating DataFrame

In [66]:
df=pd.DataFrame({'Brand':Brand_sneakers,'Product Descripition':Product_Descr,'Price':Price_Descr})
df

              Brand                               Product Descripition Price
0            ALICON                                   Sneakers For Men  ₹472
1           tigonis                          Sneakers Sneakers For Men  ₹449
2    luxury fashion                            Classy Sneakers For Men  ₹449
3          Magnolia                  Stylish & Trendy Sneakers For Men  ₹398
4          URBANBOX  Brothers Luxury Fashionable Casual Sneakers Sh...  ₹220
..              ...                                                ...   ...
95            AMICO                                   Sneakers For Men  ₹449
96        Trendmode                  Stylish & Trendy Sneakers For Men  ₹359
97         HOTSTYLE                           FASHION Sneakers For Men  ₹298
98  ganpati traders  Casual Sneakers black Shoes For Men Sneakers F...  ₹189
99            AMICO                                   Sneakers For Men  ₹449

[100 rows x 3 columns]

# Q7: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [67]:
#Connect to the driver
driver=webdriver.Chrome(r'E:\chrome driver\chromedriver.exe')

In [68]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [69]:
price_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter.click()

In [70]:
##color filter
color_filter = driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter.click()

# Brand

In [71]:
brand = []
for i in range(0,5,1):
    brand_tag = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for j in brand_tag:
        brand.append(j.text)
brand = brand[:100]
print(len(brand))
print(brand)

100
['Puma', 'Puma', 'Puma', 'Saint G', 'Puma', 'RARE RABBIT', 'Bugatti', 'Cole Haan', 'DAVINCHI', 'ASICS', 'Geox', 'Saint G', 'DAVINCHI', 'Geox', 'Bugatti', 'J.FONTINI', 'RARE RABBIT', 'Saint G', 'Saint G', 'Heel & Buckle London', 'Saint G', 'Puma', 'Tommy Hilfiger', 'Bugatti', 'J.FONTINI', 'Xtep', 'J.FONTINI', 'Geox', 'DAVINCHI', 'DAVINCHI', 'Geox', 'Geox', 'DAVINCHI', 'Pavers England', 'Saint G', 'Louis Philippe', 'Cole Haan', 'Geox', 'Cole Haan', 'DAVINCHI', 'Pavers England', 'Pavers England', 'Saint G', 'Pavers England', 'Saint G', 'Saint G', 'Saint G', 'Saint G', 'Saint G', 'Geox', 'Puma', 'Puma', 'Puma', 'Saint G', 'Puma', 'RARE RABBIT', 'Bugatti', 'Cole Haan', 'DAVINCHI', 'ASICS', 'Geox', 'Saint G', 'DAVINCHI', 'Geox', 'Bugatti', 'J.FONTINI', 'RARE RABBIT', 'Saint G', 'Saint G', 'Heel & Buckle London', 'Saint G', 'Puma', 'Tommy Hilfiger', 'Bugatti', 'J.FONTINI', 'Xtep', 'J.FONTINI', 'Geox', 'DAVINCHI', 'DAVINCHI', 'Geox', 'Geox', 'DAVINCHI', 'Pavers England', 'Saint G', 'Louis Philippe', 'Cole Haan', 'Geox', 'Cole Haan', 'DAVINCHI', 'Pavers England', 'Pavers England', 'Saint G', 'Pavers England', 'Saint G', 'Saint G', 'Saint G', 'Saint G', 'Saint G', 'Geox']

# Description

In [72]:
desc = []
for i in range(0,5,1):
    desc_tag = driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for j in desc_tag:
        desc.append(j.text)
desc = desc[:100]
print(len(desc))
print(desc)

100
['Men Running Shoes', 'Men Magnify Nitro Running', 'Men Electrify Nitro Running', 'Men Mid-Top Chelsea Boots', 'Women Magnify Nitro Shoes', 'Men Leather Flat Boots', 'Men Running Shoes', 'Men GENERATION ZEROGRAND STITCHLITE', 'Men Textured Formal Leather Loafers', 'Men Colourblocked PU Sneakers', 'Men Leather Flat Boots', 'Men Leather Chelsea Boots', 'Men Solid Leather Formal Derbys', 'Women Leather Pumps', 'Men Textured Leather High-Top Flat Boots', 'Men Textured Leather Loafers', 'Men Textured Leather Loafers', 'Women Leather Loafers', 'Leather Wedge Heeled Boots with Buckles', 'Men Formal Leather Derby', 'Embellished Leather Block Heeled Boots', 'Women Velocity NITRO Runners', 'Women Hybrid Leather Sneakers', 'Men Black Walking Shoes', 'Men Textured Leather Loafers', 'Men Running Shoes', 'Men Black Leather Loafers', 'Men Leather Loafers', 'Ustraa black', 'Men Formal Leather Slip-Ons', 'Women Solid Leather Pumps', 'Women Solid Leather Pumps', 'Men Textured Formal Leather Loafers', 'Men Leather Driving Shoes', 'Women Leather Heeled Boots', 'Men Leather Formal Slip-Ons', 'Women Open Toe Flats', 'Women Solid Leather Ballerinas', 'Women Solid Leather Ballerinas', 'Men Textured Leather Formal Slip-Ons', 'Men Solid Leather Formal Loafers', 'Men Textured Leather Formal Slip-On Shoes', 'Leather Block Heeled Boots', 'Men Solid Leather Formal Derbys', 'Leather Kitten Heeled Boots', 'Leather Block Heeled Boots with Bows', 'Suede Party High-Top Block Heeled Boots', 'Suede High-Top Flatform Heeled Boots', 'Leather Platform Heeled Boots', 'Women Chunky Sneakers', 'Men Running Shoes', 'Men Magnify Nitro Running', 'Men Electrify Nitro Running', 'Men Mid-Top Chelsea Boots', 'Women Magnify Nitro Shoes', 'Men Leather Flat Boots', 'Men Running Shoes', 'Men GENERATION ZEROGRAND STITCHLITE', 'Men Textured Formal Leather Loafers', 'Men Colourblocked PU Sneakers', 'Men Leather Flat Boots', 'Men Leather Chelsea Boots', 'Men Solid Leather Formal Derbys', 'Women Leather Pumps', 'Men Textured Leather High-Top Flat Boots', 'Men Textured Leather Loafers', 'Men Textured Leather Loafers', 'Women Leather Loafers', 'Leather Wedge Heeled Boots with Buckles', 'Men Formal Leather Derby', 'Embellished Leather Block Heeled Boots', 'Women Velocity NITRO Runners', 'Women Hybrid Leather Sneakers', 'Men Black Walking Shoes', 'Men Textured Leather Loafers', 'Men Running Shoes', 'Men Black Leather Loafers', 'Men Leather Loafers', 'Ustraa black', 'Men Formal Leather Slip-Ons', 'Women Solid Leather Pumps', 'Women Solid Leather Pumps', 'Men Textured Formal Leather Loafers', 'Men Leather Driving Shoes', 'Women Leather Heeled Boots', 'Men Leather Formal Slip-Ons', 'Women Open Toe Flats', 'Women Solid Leather Ballerinas', 'Women Solid Leather Ballerinas', 'Men Textured Leather Formal Slip-Ons', 'Men Solid Leather Formal Loafers', 'Men Textured Leather Formal Slip-On Shoes', 'Leather Block Heeled Boots', 'Men Solid Leather Formal Derbys', 'Leather Kitten Heeled Boots', 'Leather Block Heeled Boots with Bows', 'Suede Party High-Top Block Heeled Boots', 'Suede High-Top Flatform Heeled Boots', 'Leather Platform Heeled Boots', 'Women Chunky Sneakers']

# Price

In [73]:
price = []
for i in range(0,5,1):
    price_tag = driver.find_elements_by_xpath('//span[@class="product-discountedPrice"]')
    for j in price_tag:
        price.append(j.text.replace("Rs. ",""))
price = price[:100]
print(len(price))
print(price)

100
['7149', '8449', '7499', '9810', '7799', '7999', '7999', '8399', '10710', '8399', '7149', '7500', '13410', '9546', '7149', '7199', '10710', '8550', '8910', '12510', '9450', '12150', '9810', '7149', '8449', '7499', '9810', '7799', '7999', '7999', '8399', '10710', '8399', '7149', '7500', '13410', '9546', '7149', '7199', '10710', '8550', '8910', '12510', '9450', '12150', '9810', '7149', '8449', '7499', '9810', '7799', '7999', '7999', '8399', '10710', '8399', '7149', '7500', '13410', '9546', '7149', '7199', '10710', '8550', '8910', '12510', '9450', '12150', '9810', '7149', '8449', '7499', '9810', '7799', '7999', '7999', '8399', '10710', '8399', '7149', '7500', '13410', '9546', '7149', '7199', '10710', '8550', '8910', '12510', '9450', '12150', '9810', '7149', '8449', '7499', '9810', '7799', '7999', '7999', '8399']

# creating DataFrame

In [74]:
df=pd.DataFrame({'Brand':brand,'Product Descripition':desc,'Price':price})
df

      Brand                     Product Descripition Price
0      Puma                        Men Running Shoes  7149
1      Puma                Men Magnify Nitro Running  8449
2      Puma              Men Electrify Nitro Running  7499
3   Saint G                Men Mid-Top Chelsea Boots  9810
4      Puma                Women Magnify Nitro Shoes  7799
..      ...                                      ...   ...
95  Saint G     Leather Block Heeled Boots with Bows  9810
96  Saint G  Suede Party High-Top Block Heeled Boots  7799
97  Saint G     Suede High-Top Flatform Heeled Boots  7999
98  Saint G            Leather Platform Heeled Boots  7999
99     Geox                    Women Chunky Sneakers  8399

[100 rows x 3 columns]

# Q8  Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [18]:
#Connect to the driver
driver=webdriver.Chrome(r'E:\chrome driver\chromedriver.exe')

In [19]:
url = 'https://www.amazon.in/'
driver.get(url)

In [20]:
#Search using The Xpath
search_eng=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_eng

In [21]:
search_eng.send_keys("Laptop")

In [22]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn

In [23]:
search_btn.click()

In [25]:
## filter 
intel_i7 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/div/div/div[1]/div/span[1]/a[12]/div/span")
intel_i7.click()

# Extracting Title

In [26]:
title_1 = []
inteli7 = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in inteli7:
    title_1.append(i.text)
title_1 = title_1[:10]
print(len(title_1))
print(title_1)

10
['Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512GB SSD, Win 10 + MS Office, 14.0" (35.56 cms) FHD Display, Backlit KB, FPR + Active Pen, Platinum Silver (Inspiron 5410, D560596WIN9S)', 'LG Gram 17-inches Ultra-Light Intel Evo 11th Gen Core i7,16 GB RAM, 512 GB SSD, New Win-11 Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 3 Yr Warranty (17Z90P-G.AH85A2, Black)', 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS', 'Acer Nitro 5 AN515-57 Gaming Laptop | Intel Core i7-11800H |NVIDIA GeForce RTX 3050 Ti Laptop Graphics |15.6" FHD 144Hz IPS Display |16GB DDR4 |256GB SSD+1TB HDD |Killer Wi-Fi 6 |RGB Backlit Keyboard', 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3060 6GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HM-HN100T', 'HP Pavilion 13, 11th Gen Intel Core i7, 13.3-inch(33.8 cm) FHD,IPS, Micro-Edge Laptop (16GB RAM/ 1TB SSD/ Win 10/ FPR/Audio B&O/Alexa Built-in/MS Office/ Ceramic White/ 1.24 Kg) -13-bb0078TU', 'Mi Notebook - XMA1904-AF', 'ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11370H 11th Gen, RTX 3050 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Gray/2 Kg), FX516PCZ-HN091T', 'Fujitsu UH-X 11th Gen Intel Core i7 13.3 inches FHD IPS 400Nits 2-in1 Touch Convertible Business Laptop (16GB/1TB SSD/Windows 11/MS Office 2021/Iris Xe Graphics/Backlit Kb/Black/0.997 kg, 4ZR1F38027)', '(Renewed) Dell Latitude E7470 Intel Core i7 6th Gen 14 inches Laptop /16 GB RAM/512 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics, 1.9 kg']

In [27]:
Ratings = []
rating_tag = driver.find_elements_by_xpath(("//div[@class='a-row a-size-small']/span"))
for i in rating_tag:
    Ratings.append(i.get_attribute('aria-label'))
Ratings = Ratings[::2][:10]
print(len(Ratings))
print(Ratings)

10
['4.7 out of 5 stars', '4.6 out of 5 stars', '5.0 out of 5 stars', '4.5 out of 5 stars', '4.8 out of 5 stars', '4.6 out of 5 stars', '4.2 out of 5 stars', '4.4 out of 5 stars', '4.2 out of 5 stars', '3.5 out of 5 stars']

In [28]:
Price = []
price_tag = driver.find_elements_by_xpath('//span[@class="a-price"]')
for i in price_tag:
    Price.append(i.text)
Price = Price[:10]
print(len(Price))
print(Price)

10
['₹94,490', '₹99,990', '₹59,990', '₹89,990', '₹1,14,990', '₹87,990', '₹57,990', '₹82,990', '₹1,07,490', '₹44,990']

# Creating DataFrame

In [30]:
df=pd.DataFrame({'Brand':title_1,'Rating':Ratings,'Price':Price})
df

,Brand,Rating,Price
0,Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...,4.7 out of 5 stars,"₹94,490"
1,LG Gram 17-inches Ultra-Light Intel Evo 11th G...,4.6 out of 5 stars,"₹99,990"
2,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",5.0 out of 5 stars,"₹59,990"
3,Acer Nitro 5 AN515-57 Gaming Laptop | Intel Co...,4.5 out of 5 stars,"₹89,990"
4,ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...,4.8 out of 5 stars,"₹1,14,990"
5,"HP Pavilion 13, 11th Gen Intel Core i7, 13.3-i...",4.6 out of 5 stars,"₹87,990"
6,Mi Notebook - XMA1904-AF,4.2 out of 5 stars,"₹57,990"
7,ASUS TUF Dash F15 (2021) 15.6-inch (39.62 cms)...,4.4 out of 5 stars,"₹82,990"
8,Fujitsu UH-X 11th Gen Intel Core i7 13.3 inche...,4.2 out of 5 stars,"₹1,07,490"
9,(Renewed) Dell Latitude E7470 Intel Core i7 6t...,3.5 out of 5 stars,"₹44,990"

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [41]:
#Connect to the driver
driver=webdriver.Chrome(r'E:\chrome driver\chromedriver.exe')

In [42]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [43]:
driver.maximize_window()

In [44]:
job_opt=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]')
job_opt.click()

In [45]:
#Search using The Xpath
search_eng=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_eng

In [46]:
search_eng.send_keys("Data Scientist")

In [47]:
search_btn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
search_btn

In [48]:
search_btn.click()

In [52]:
location_1=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]")
location_1.click()

In [53]:
location =driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
location.send_keys("Noida")

In [55]:
Click_1=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
Click_1.click()

# Scraping All the data

In [57]:
company_name = []
company_tag = driver.find_elements_by_xpath('//p[@class="company body-medium"]')
for i in company_tag:
    company_name.append(i.text)
company_name = company_name[:10]
print(len(company_name))
print(company_name)

10
['Ameriprise Financial', 'Paytm', 'Jubilant Foodworks Limited', 'CHT Sapiense', 'CHT Sapiense', 'GI Group', 'GI Group', 'GI Group', 'RMS Risk Management Solutions', 'Paytm']

In [58]:
ratings_1=[]
ratings=driver.find_elements_by_xpath('//span[@class="body-small"]')
for i in ratings:
    ratings_1.append(i.text)
ratings_1=ratings_1[:10]
print(len(ratings_1))
print(ratings_1)

10
['4.0', '3.7', '3.9', '3.7', '3.7', '4.1', '4.1', '4.1', '3.5', '3.7']

In [59]:
Posted_days = []
day = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
for i in day:
    Posted_days.append(i.text)
Posted_days = Posted_days[::2]
print(len(Posted_days))
print(Posted_days)

10
['2d ago', '8d ago', '25d ago', '9d ago', '10d ago', '21d ago', '21d ago', '21d ago', '3d ago', '29d ago']

# DataFrame

In [60]:
df=pd.DataFrame({'Brand':company_name,'Rating':ratings_1,'Days':Posted_days})
df

                           Brand Rating     Days
0           Ameriprise Financial    4.0   2d ago
1                          Paytm    3.7   8d ago
2     Jubilant Foodworks Limited    3.9  25d ago
3                   CHT Sapiense    3.7   9d ago
4                   CHT Sapiense    3.7  10d ago
5                       GI Group    4.1  21d ago
6                       GI Group    4.1  21d ago
7                       GI Group    4.1  21d ago
8  RMS Risk Management Solutions    3.5   3d ago
9                          Paytm    3.7  29d ago

# Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [61]:
#Connect to the driver
driver=webdriver.Chrome(r'E:\chrome driver\chromedriver.exe')

In [62]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [63]:
driver.maximize_window()

In [64]:
salary_option = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary_option.click()

In [65]:
### writting data scientist
data_scientist = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
data_scientist.send_keys('Data Scientist')

In [70]:
search_ds = driver.find_elements_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
for i in search_ds:
    if 'Data Scientist' in i.text:
        i.click()
        break

# Scraping Data

In [71]:
company_name = []
total_salary_record = []
company_tag = driver.find_elements_by_xpath('//div[@class="name"]')
for i in company_tag:
    company_name.append(i.text.split('\n')[0])
    total_salary_record.append(i.text.split('\n')[1].replace('based on',''))
company_name = company_name[:10]
total_salary_record = total_salary_record[:10]
print(len(company_name))
print(company_name)
print(len(total_salary_record))
print(total_salary_record)

10
['Tekion', 'Microsoft Corporation', 'Goldman Sachs', 'Flipkart', 'Amazon', 'Arcesium', 'PayPal', 'Servicenow Software Development India', 'Walmart', 'ServiceNow']
10
[' 10 salaries', ' 224 salaries', ' 11 salaries', ' 54 salaries', ' 85 salaries', ' 37 salaries', ' 12 salaries', ' 27 salaries', ' 79 salaries', ' 16 salaries']

In [72]:
Average_salary_record = []
salary_tag = driver.find_elements_by_xpath('//p[@class="averageCtc"]')
for i in salary_tag:
    Average_salary_record.append(i.text.split('\n')[0])
Average_salary_record = Average_salary_record[:10]
print(len(Average_salary_record))
print(Average_salary_record)

10
['₹ 23.3L', '₹ 22.4L', '₹ 21.9L', '₹ 20.6L', '₹ 19.4L', '₹ 18.5L', '₹ 18.4L', '₹ 18.3L', '₹ 17.9L', '₹ 17.8L']

In [73]:
minimum_salary = []
maximum_salary = []
salary_tag_min = driver.find_elements_by_xpath('//div[@class="salary-values"]')
for i in salary_tag_min:
    minimum_salary.append(i.text.split('\n')[0])
    maximum_salary.append(i.text.split('\n')[1])
minimum_salary = minimum_salary[:10]
print(len(minimum_salary))
print(minimum_salary)
print(len(maximum_salary))
print(maximum_salary)

10
['₹ 14.0L', '₹ 12.0L', '₹ 16.0L', '₹ 7.0L', '₹ 8.0L', '₹ 12.0L', '₹ 12.0L', '₹ 12.0L', '₹ 10.0L', '₹ 11.2L']
10
['₹ 32.0L', '₹ 45.0L', '₹ 30.0L', '₹ 30.0L', '₹ 41.5L', '₹ 30.0L', '₹ 25.0L', '₹ 25.0L', '₹ 32.0L', '₹ 23.0L']

In [74]:
Experience_required = []
exp = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
for i in exp:
    Experience_required.append(i.text.split('\n')[-1].replace('exp',''))
Experience_required = Experience_required[:10]
print(len(Experience_required))
print(Experience_required)

10
['4 yrs ', '1-4 yrs ', '2 yrs ', '1-4 yrs ', '1-4 yrs ', '1 yr ', '1 yr ', '2-3 yrs ', '1-4 yrs ', '3 yrs ']

# Creating DataFrame

In [76]:
df=pd.DataFrame({'Comapny':company_name,'Average Salary':Average_salary_record,'Maximum Salary':maximum_salary,'Minnimum Salary':minimum_salary,'Experience':Experience_required})
df

,Comapny,Average Salary,Maximum Salary,Minnimum Salary,Experience
0,Tekion,₹ 23.3L,₹ 32.0L,₹ 14.0L,4 yrs
1,Microsoft Corporation,₹ 22.4L,₹ 45.0L,₹ 12.0L,1-4 yrs
2,Goldman Sachs,₹ 21.9L,₹ 30.0L,₹ 16.0L,2 yrs
3,Flipkart,₹ 20.6L,₹ 30.0L,₹ 7.0L,1-4 yrs
4,Amazon,₹ 19.4L,₹ 41.5L,₹ 8.0L,1-4 yrs
5,Arcesium,₹ 18.5L,₹ 30.0L,₹ 12.0L,1 yr
6,PayPal,₹ 18.4L,₹ 25.0L,₹ 12.0L,1 yr
7,Servicenow Software Development India,₹ 18.3L,₹ 25.0L,₹ 12.0L,2-3 yrs
8,Walmart,₹ 17.9L,₹ 32.0L,₹ 10.0L,1-4 yrs
9,ServiceNow,₹ 17.8L,₹ 23.0L,₹ 11.2L,3 yrs